<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.choitaek.meethere">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <!-- SMS 기능을 위한 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.choitaek.meethere.sharedpreferences.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetHere"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity
            android:name="com.choitaek.meethere.activity.Algorithm2Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />
        <activity
            android:name="com.choitaek.meethere.activity.Algorithm1Activity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true" />
        <activity
            android:name="com.choitaek.meethere.activity.ShowFriendActivity"
            android:exported="true"
            android:label="친구 상세"
            android:parentActivityName="com.choitaek.meethere.activity.MainNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.ShowBookmarkActivity"
            android:exported="true"
            android:label="약속 목록"
            android:parentActivityName="com.choitaek.meethere.activity.MainNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.ProfileActivity"
            android:exported="true"
            android:label="내 프로필"
            android:parentActivityName="com.choitaek.meethere.activity.MainNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.MainNewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.FriendListActivity"
            android:exported="true"
            android:label="친구 목록"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.SendMyLocationActivity"
            android:exported="true"
            android:label="현재 위치 전송하기"
            android:parentActivityName="com.choitaek.meethere.activity.ShowFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.SendShareCodeActivity"
            android:exported="true"
            android:label="공유 코드 전송하기"
            android:parentActivityName="com.choitaek.meethere.activity.ShowFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.SendRequestLocationActivity"
            android:exported="true"
            android:label="위치 요청 전송하기"
            android:parentActivityName="com.choitaek.meethere.activity.ShowFriendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.AddFriendActivity"
            android:exported="true"
            android:label="친구 추가"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.EditBookmarkActivity"
            android:exported="true"
            android:label="약속 수정"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.ShowBookmarkResultActivity"
            android:exported="true"
            android:label="약속 상세"
            android:parentActivityName="com.choitaek.meethere.activity.MainNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.SaveBookmarkActivity"
            android:exported="true"
            android:label="약속 저장"
            android:parentActivityName="com.choitaek.meethere.activity.ShowResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.SearchAddressActivity"
            android:exported="true"
            android:label="주소 검색"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.SelectDestinationActivity"
            android:exported="true"
            android:label="목적지 선택"
            android:parentActivityName="com.choitaek.meethere.activity.SetLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.SetLocationActivity"
            android:exported="true"
            android:label="장소 검색하기"
            android:parentActivityName="com.choitaek.meethere.activity.MainNewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.choitaek.meethere.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ID" />
        <activity
            android:name="com.choitaek.meethere.activity.RegisterActivity"
            android:label="회원가입"
            android:parentActivityName="com.choitaek.meethere.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.FindIDActivity"
            android:label="아이디 찾기"
            android:parentActivityName="com.choitaek.meethere.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.FindPWActivity"
            android:label="비밀번호 찾기"
            android:parentActivityName="com.choitaek.meethere.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.AuthIDActivity"
            android:label="이메일 인증"
            android:parentActivityName="com.choitaek.meethere.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.EditActivity"
            android:label="정보 수정"
            android:parentActivityName="com.choitaek.meethere.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.ShowResultActivity"
            android:label="검색결과"
            android:parentActivityName="com.choitaek.meethere.activity.SelectDestinationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />
        <activity
            android:name="com.choitaek.meethere.activity.ShowDetailActivity"/>
        <activity
            android:name="com.choitaek.meethere.activity.ShowDetailCityToCityActivity"/>
<!--            android:label="상세보기"-->
<!--            android:parentActivityName=".activity.ShowResultActivity"-->
<!--            android:screenOrientation="portrait"-->
<!--            android:theme="@style/DarkActionBarStyle" />-->
        <activity
            android:name="com.choitaek.meethere.activity.OtherRouteActivity"/>
        <activity
            android:name="com.choitaek.meethere.activity.OtherRouteCityToCityActivity"/>
        <activity
            android:name="com.choitaek.meethere.activity.OtherRouteToShowDetail"/>
        <activity
            android:name="com.choitaek.meethere.activity.OtherRouteToShowDetailCityToCity"/>
        <activity
            android:name="com.choitaek.meethere.activity.ShowDetailMapActivity"
            android:label="지도보기"
            android:parentActivityName="com.choitaek.meethere.activity.ShowDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/DarkActionBarStyle" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0cxRl8WstOzAISge8W_w4k8oq-rx9AJ8" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="2724733817c80378509297f93f9f320a" />
    </application>

</manifest>