<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.meethere">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeetHere">
        <activity android:name=".MainActivity"/> // main activity까지 추가가 되어야 splash 후에 main 출몰.
        <activity android:name=".LoginActivity"
            android:theme="@style/ID"/>
        <activity android:name=".RegisterActivity"
            android:label="회원가입"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Register"/>
        <activity android:name=".FindID"
            android:label="아이디 찾기"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Register"/>
        <activity android:name=".FindPW"
            android:label="비밀번호 찾기"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/Register"/>
        <activity android:name=".AuthID"
            android:label="이메일 인증"
            android:parentActivityName=".RegisterActivity"
            android:theme="@style/Register"/>
        <activity android:name=".SplashActivity"
            android:theme="@style/Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>